.japan {
    .gradient {
        width: 100%;
        background-image: linear-gradient(#C3698C, #D7848F, #F4AB94, #FFBA96);
     
        padding: 20px 0;
        h1 {
            font-size: 72px;
        }
        .parallax-container {
            position: relative;
            width: 100%;
            height: 1380px;
            @media (max-width: 1000px) {
                margin-top: -200px;
                height: 1100px;
            }
            .first, .second, .third, .four, .five, .six, .seven, .eight {
                position: absolute;
                margin: 0 auto;
                width: 100%;
                height: 420px;
                background-size: cover;
                background-position: center;
                z-index: 1;
                @media (max-width: 1000px){
                    height: 300px;
                }
              
                
            }
            .first {
                background-image: url(../img/svg/mount.svg);
                @media (min-width: 1920px){
                    height: 460px;
                    background-size: contain;
                }
            }
            .second{
                margin-top: -450px;
                height: 800px;
                background-image: url(../img/svg/clouds.svg);
            }
            .third{
                background-image: url(../img/svg/mountain1.svg);
        
            }
            .four {
                background-image: url(../img/svg/mountain2.svg);
            }
            .five {
                background-image: url(../img/svg/birds.svg);
                -webkit-animation: mover 1s infinite  alternate;
                animation: mover 1s infinite  alternate;
        
            }
            .six {
                background-image: url(../img/svg/mountain3.svg);
            }
            .seven {
                background-image: url(../img/svg/river.svg);
                height: 350px;
            }
            .eight {
                height: 700px;
                background-image: url(../img/svg/gate.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }
        
        }
        .content {
            margin-top: -260px;
          
            @media (max-width: 1000px){
                margin-top: 40px;
            }
            .explore {
                h1 {
                    text-align: center;
                    font-size: 70px;
                    color: #ffffff;
                    position: relative;
                    margin-bottom: 40px;
                    @media (max-width: 1000px){
                        font-size: 40px;
                    }
                    @media (max-width: 500px){
                        font-size: 28px;
                    }
                    &:after {
                        content: "";
                        height: 2px;
                        width: 400px;
                        background-color: #7e3652;
                        position: absolute;
                        right: 50%;
                        transform: translateX(50%);
                        bottom: -20px;
                        border-radius: 2%
                    }
                }
                .text {
                    font-size: 18px;
                    margin: 100px auto;
                    width: 70%;
                    color: #702E4F;
                    font-style: italic ;
                    @media (max-width: 700px){
                        margin:  40px auto;
                    }
                   
                    p {
                        text-align: center;
                    }
                }
                .common {
                    margin: 60px  0 60px 0;
                    display: flex;
                    @media (max-width: 960px){
                        flex-direction: column;
                    }
                    
                    .info, .img {
                        margin: 40px 0;
                        width: 50%;
                        color: #702E4F;
                        font-size: 18px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 30px;
                        padding: 0 20px ;
                        @media (max-width: 960px){
                            width: 100%;
                        }
                        @media (max-width: 500px){
                            margin: 10px 0;
                        }
                    }
                }
                @media (max-width: 960px){
                    .common:nth-child(odd) {
                        flex-direction: column-reverse;
                    }
                }
                
            }
            
        }
       
        
    }
    
}

