//create your reset styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cera Pro';
    font-weight: normal;
    background: #220E28;
   
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 420px) {
        padding: 0 6px;
    }
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    background: linear-gradient(90deg, #BC6683 0%, #D16670 100%);
    padding: 12px 60px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    margin: 20px 0;
    display: inline-block;
    @media (max-width: 500px){
        margin:  0;
        padding: 10px 40px;
        font-size: 12px;
    }

    &:hover {
        transform: scale(1.1);
    }
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.sakura {
    z-index: 222222;
}

