.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 50px;
        height: 50px;
        display: block;
        background-image: url(../img/japan.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all .2s ease-in-out; 
        &:hover {
            transform: scale(1.1);
        }

    }
    .left-side {
        .burger {
            width: 30px;
            height: 30px;
            background-image: url(../img/svg/burder.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: none;
            @media (max-width: 800px){
                display: block;
            }
        }
      
        ul {
            position: relative;
            list-style: none;
            display: flex;
            li {
                a {
                    margin-left: 40px;
                    color: #702E4F;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding-bottom: 2px;
                    border-bottom: 1px solid transparent;
                    transition: all .2s ease-in-out; 
                    &:hover {
                        border-bottom: 1px solid #702E4F ;
                    }
                }
                &:hover {
                   transform: scale(1.1);
                }
                
            }
            @media (max-width: 800px) {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                background: #FFBA96;
                border-radius: 10px;
                padding: 30px;
                li {
                    a{
                        display: block;
                        margin: 10px 60px 10px 0;
                    }
                }
                .close {
                    width: 25px;
                    height: 30px;
                    background-image: url(../img/svg/x.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }   
            }
            &.active {
                display: block;
            }
            
        }
        @media (max-width: 800px){
            padding: 0;
        }
    }

}