.box-title-moon {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin: 100px 0;
   @media (max-width: 500px){
       margin: 50px 0 10px 0 ;
   }

    
    .box {
        position: relative;
        width: 40%;
        text-transform: uppercase;
        color: #ffffff;
        padding-bottom: 80px;
        @media (max-width: 1000px){
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            font-size: 100px;
            @media (max-width: 500px){
                font-size: 48px;
            }
        }
        span {
            display: inline-block;
            font-size: 16px;
            text-transform: none;
            margin: 30px 0;
            color: #702E4F;
            opacity: 0.8;
            @media (max-width: 500px){
                font-size: 12px;
                margin: 20px 0 0 0 ;
            }
            
        }
        .btn {
            z-index: 22;
            position: absolute;
            bottom: 0;
            left: 0;
           
        }
    }
    > .div{
        @media (max-width: 1000px){
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end
       
        }
        .moon {
            width: 80px;
            height: 80px;
            background-image: url(../img/svg/moon.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 100px;
            -webkit-animation: mover 1.2s infinite  alternate;
            animation: mover 1.2s infinite  alternate;
            @media (max-width: 500px){
                margin: 0;
            }
    
        }
    }
   
      
     
}