extends base/_base

block title
    title="JAPAN"
block content
    main
        .japan
            .gradient
                // our header component
                include components/header
                // our welcome title and moon
                include components/title
                .parallax-container
                    .second(smooth-parallax="" base-size="elementSize" start-movement="0.5"  end-position-y="1")
                    .first(smooth-parallax="" base-size="elementSize" start-movement="0.2"  end-position-y="1.1" class="wow fadeInUp"  )
                    .third(smooth-parallax="" base-size="elementSize" start-movement="-0.1"  end-position-y="1.5"  )
                    .four(smooth-parallax="" base-size="elementSize" start-movement="0.1"  end-position-y="1"  )
                    .five(smooth-parallax="" base-size="elementSize" start-movement="1"  end-position-y="2.5")
                    .six(smooth-parallax="" base-size="elementSize" start-movement="0"  end-position-y="1.2"  )
                    .seven(smooth-parallax="" base-size="elementSize" start-movement="-0.5"  end-position-y="2.2")
                    .eight(smooth-parallax="" base-size="elementSize" start-movement="0"  end-position-y="0.4")
                .content
                    .container 
                        .explore 
                            h1(class="wow fadeInUp" ) Are you ready to explore Japan?
                            .text
                                p(class="wow fadeInUp" ) Japan is truly timeless, a place where ancient traditions are fused with modern life as if it were the most natural thing in the world.
                            .common 
                                .info(class="wow fadeInUp")
                                    p Japan (Japanese: 日本, Nippon [ɲippoꜜɴ] (About this soundlisten) or Nihon [ɲihoꜜɴ] (About this soundlisten); officially Japanese: 日本国 (About this soundNippon-koku or Nihon-koku) is an island country located in East Asia. It is bordered by the Sea of Japan to the west and the Pacific Ocean to the east, and spans from the Sea of Okhotsk in the north to the East China Sea and Philippine Sea in the south. Part of the Pacific Ring of Fire, Japan encompasses an archipelago of about 6,852 islands, with five main islands (Hokkaido, Honshu, Kyushu, Shikoku, and Okinawa) comprising 97% of the country's area.
                                .img(class="wow fadeInRight" )
                                    img(src='img/svg/map.svg' )
                            .common 
                                .img(class="wow fadeInLeft" )
                                    img(src='img/svg/japan1.svg' )
                                .info(class="wow fadeInUp")
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            .common 
                                .info(class="wow fadeInUp")
                                    p Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                                .img(class="wow fadeInRigth" )
                                    img(src='img/svg/japan2.svg' )
                            .common 
                                .img(class="wow fadeInLeft" )
                                    img(src='img/svg/japan3.svg' )
                                .info(class="wow fadeInUp")
                                    p Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            .common 
                                .info(class="wow fadeInUp")
                                    p Where can I get some? There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                .img(class="wow fadeInRight" )
                                    img(src='img/svg/four.svg' )
 
        
            
            



//- connect only custom js
block scripts