<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='description', content='Free Web tutorials')
        meta(name='keywords', content='HTML,CSS,XML,JavaScript')
        meta(name='author', content='Fatima Turgunbaeva')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ffffff")
        meta( name="msapplication-TileColor" content="#ffffff")
        meta( name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta( name="theme-color" content="#ffffff")
        link( rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
        link( rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
        link( rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
        link( rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
        link( rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
        link( rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
        link( rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
        link( rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
        link( rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
        link( rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
        link( rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link( rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
        link( rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        link( rel="manifest" href="img/favicon/manifest.json")
        link(rel="stylesheet" href='font/stylesheet.css')
        link(rel="stylesheet" href='css/libs.css')
        link(rel="stylesheet" href='css/style.css')
        block title
    body
        include ../include/_header
        
        block content

        include ../include/_footer
        
        script(src='js/libs.js')
        script(src='js/main.js')

        block scripts