.container
    .head
        .right-side
            a(href='index.html').logo
        .left-side
            .burger
            ul 
                .close 
                li
                    a Home
                li 
                    a Services
                li 
                    a About us
                li 
                    a Contact us 
                li 
                    a FAQ
                    