.container
    .box-title-moon
        .box 
            h2(class="wow fadeInUp" data-wow-delay="0.8s") Welcome to 
            h1(class="wow fadeInUp" data-wow-delay="1s") Japan
            span(class="wow fadeInUp" data-wow-delay="2.2s") 
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            a(href="#" class="wow fadeInUp" data-wow-delay="2.8s").btn Learn more
        .div
            p
            .moon(class="wow fadeInUp" data-wow-delay="1.8s")
